
:root {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;

    --rows: 2;
    --cols: 2;
  }
  
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__title {
    font-size: 32px;
  }

.header__scores {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.game__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.game__grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 100px);
    grid-template-rows: repeat(var(--rows), 100px);
    gap: 10px;
}

.game__cell {
    position: relative;
    margin: 5px;
  }
  

.game__cell--green{
    background-color: rgb(36, 88, 36);
    border-top-left-radius: 9999px;
  }

.game__cell--green_active{
    background-color: rgb(0, 255, 0);
    border-top-left-radius: 9999px;
}

.game__cell--blue {
    background-color: rgb(23, 23, 143);
    border-bottom-right-radius: 9999px;
}

.game__cell--blue_active {
    background-color: blue;
    border-bottom-right-radius: 9999px;
}

.game__cell--red{
    background-color: darkred;
    border-top-right-radius: 9999px;
}

.game__cell--red_active{
    background-color: red;
    border-top-right-radius: 9999px;
}

.game__cell--yellow {
    background-color: darkgoldenrod;
    border-bottom-left-radius: 9999px;
}

.game__cell--yellow_active {
    background-color: yellow;
    border-bottom-left-radius: 9999px;
}

.game__cell--center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 90px;
    height: 90px;
    background-color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9999px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.action__button {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color:cadetblue;
    border: none;
    border-radius: 8px;
    color:aliceblue;
    cursor: pointer;
}

.action__button:hover {
    background-color:teal;
}

.action__button--secondary {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color:firebrick;
    border: none;
    border-radius: 8px;
    color:aliceblue;
    cursor: pointer;
}

.action__button--secondary:hover {
    background-color:maroon;
}

/* Pop-up del ranking */

.view__rank{

    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color:cadetblue;
    border: none;
    border-radius: 8px;
    color:aliceblue;
    cursor: pointer;

}

.rank__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.89);
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.rank__box.open {
    z-index: 999;
    opacity: 1;
}

