
:root {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;

    --rows: 2;
    --cols: 2;
  }
  
.header {
display: flex;
flex-direction: column;
text-align: center;
}

.header__title {
font-size: 32px;
  }

.game__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.game__grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 100px);
    grid-template-rows: repeat(var(--rows), 100px);
    gap: 10px;
}

.game__cell {
    position: relative;
    margin: 5px;
  }
  

.game__cell--green{
    background-color: rgb(36, 88, 36);
    border-top-left-radius: 9999px;
  }

.game__cell--green_active{
    background-color: green;
    border-top-left-radius: 9999px;
}

.game__cell--blue {
    background-color: rgb(23, 23, 143);
    border-bottom-right-radius: 9999px;
}

.game__cell--blue_active {
    background-color: blue;
    border-bottom-right-radius: 9999px;
}

.game__cell--red{
    background-color: darkred;
    border-top-right-radius: 9999px;
}

.game__cell--red_active{
    background-color: red;
    border-top-right-radius: 9999px;
}

.game__cell--yellow {
    background-color: darkgoldenrod;
    border-bottom-left-radius: 9999px;
}

.game__cell--yellow_active {
    background-color: yellow;
    border-bottom-left-radius: 9999px;
}

.game__cell--center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 90px;
    height: 90px;
    background-color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9999px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.action__button {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color:cadetblue;
    border: none;
    border-radius: 8px;
    color:aliceblue;
    cursor: pointer;
}

.action__button:hover {
    background-color:teal;
}

.action__button--secondary {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color:firebrick;
    border: none;
    border-radius: 8px;
    color:aliceblue;
    cursor: pointer;
}

.action__button--secondary:hover {
    background-color:maroon;
}